.my-task {
    padding: 24px 16px;
    margin-bottom: 20px;
    background: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(54, 78, 126, .1);
}

.my-task:hover {
    cursor: pointer;
}

.my-task:hover .my-task-title {
    color: rgba(99, 95, 199, 1);
}

.my-task-title {
    margin-bottom: 6px;
    color: #000112;
    transition: color .3s ease;
}

.my-task-text {
    letter-spacing: initial;
    text-transform: none;
    color: #828FA3;
}